# Files generated when building NLarn
nlarn
*.zip
*.tar.gz
*.exe
*.dmg
*.o
*.d
*.res
Changelog.html
README.html

# vim swap files
.*swp

# XCode
NLarn.xcworkspace/
nlarn.xcodeproj/

# CodeBlocks
NLarn.workspace
nlarn.cbp
nlarn.depend

# Eclipse
.cproject
.project
.settings/

# VS Code
.vscode/

# CLion
.idea/

# GDB
.gdb_history

# macOS
.DS_Store
