<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>NLarn</string>
	<key>CFBundleExecutable</key>
	<string>nlarn</string>
	<key>CFBundleIconFile</key>
	<string>NLarn.icns</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.nlarn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NLarn</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (C) 2009-2011, 2012 Joachim de Groot &lt;jdegroot@web.de&gt;</string>
</dict>
</plist>
